html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	margin-right: 8em;
	margin-left: 8em;
	margin-bottom:60px;
}

#topbanner {
	font-size: 20em;
	color: black;
	padding: 10px;
	border-radius: 25px;
}
	#topbanner a:link {
		color: black;
		
	}
	#topbanner a:visited {
		color: black;
		
	}
	#topbanner a:{
		color: black;
		text-decoration: underline;
		
	}

#description {
	border: 2px;
	padding: 10px;
	border-radius: 25px;
}

#botbanner {
	color: black;
	padding: 2px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: black;

}
	#botbanner a:{
		text-decoration: underline;
	}
