html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

#topbanner {
	color: white;
	background-color: rgb(70,131,193);
	padding: 10px;
	border-radius: 25px;
}

#description {
	border: 2px;
	padding: 10px;
	border-radius: 25px;
}

#botbanner {
	color: white;
	background-color: rgb(70,131,193);
	padding: 2px;
	border-radius: 5px;
}

