html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	margin-right: 8em;
	margin-left: 8em;
	margin-bottom:60px;
}

#topbanner {
	font-size: 20em;
	color: white;
	background-color: rgb(70,131,193);
	padding: 10px;
	border-radius: 25px;
}
	#topbanner a:link {
		color: white;
		
	}
	#topbanner a:visited {
		color: white;
		
	}
	#topbanner a:link{
		color: white;
		text-decoration: underline;
		
	}

#description {
	border: 2px;
	padding: 10px;
	border-radius: 25px;
}

#botbanner {
	color: white;
	background-color: rgb(70,131,193);
	padding: 2px;
	border-radius: 5px;
}

